In [4]:
import requests, pandas as pd, numpy as np
from bs4 import BeautifulSoup

In [184]:
#Part 1, step 1
html = requests.get('https://cmsc320.github.io/files/top-50-solar-flares.html').text
soup = BeautifulSoup(html, "html")
table = soup.find('table', {"class": "table table-striped table-responsive-md"})
df = pd.read_html(str(table))[0]

In [185]:
#Part 1, step 2
df.drop('Unnamed: 7', axis = 1, inplace = True)

In [186]:
from datetime import datetime, timedelta

for index, row in df.iterrows():
    start = df.at[index, "Start"]
    maximum = df.at[index, "Maximum"]
    end = df.at[index, "End"]
    dt = df.at[index,"Unnamed: 2"]
    
    combined_start = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(start, '%H:%M').time())
    combined_max = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(maximum, '%H:%M').time())
    combined_end = datetime.combine(datetime.strptime(dt, '%Y/%m/%d'), datetime.strptime(end, '%H:%M').time())
    
    df.at[index, "Start"] = combined_start
    df.at[index, "Maximum"] = combined_max
    df.at[index, "End"] = combined_end
    
    
df.drop('Unnamed: 2', axis = 1, inplace = True)

df.rename(columns={"Unnamed: 0": "rank", "Unnamed: 1": "x_classification", "Start": "start_datetime", "End": "end_datetime", "Maximum": "max_datetime", "Region": "region"}, inplace=True)
df = df[['rank', 'x_classification', 'start_datetime', 'max_datetime', 'end_datetime', 'region']]
df.replace("-", "NaN")

,rank,x_classification,start_datetime,max_datetime,end_datetime,region
0,1,X28+,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,486
1,2,X20+,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,X17.2+,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,486
3,4,X17+,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,808
4,5,X14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,X10,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,486
6,7,X9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,X9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,X9,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,930
9,10,X8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,486
10,11,X8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,X7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,720
12,13,X6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,X6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,930
14,15,X6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,808
15,16,X6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,X5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,X5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,X5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,X5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,808
20,21,X5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,486
21,22,X5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,X4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,X4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,X4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,39
25,26,X4,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,X3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,488
27,28,X3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,X3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,720
29,30,X3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,X3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,808
31,32,X3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,649
32,33,X3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,365
33,34,X3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,930
34,35,X3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,X3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,X3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,39
37,38,X3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,X3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,X3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,X3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,69
41,42,X3,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,30
42,43,X2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,X2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,X2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,X2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,X2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,488
47,48,X2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,X2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,720
49,50,X2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632

In [206]:
#Part 1, step 3
html = requests.get('https://cmsc320.github.io/files/waves_type2.html').text
soup = BeautifulSoup(html, "html")
table = soup.find("pre")

In [207]:
rows = str(table).split("\n")
df = pd.DataFrame(columns = ['start_date', 'start_time', 'end_date', 'end_time', 'start_frequency', 'end_frequency', 'flare_location', 'flare_region', 'flare_classification', 'cme_date', 'cme_time', 'cme_angle', 'cme_width', 'cme_speed'])

for i in range(12, len(rows) - 2):
    raw = rows[i].split(" ")
    data = []

    for elm in raw:
        if(elm != "" and elm[0] != "<" and  not "href" in elm):
            data.append(elm)
        elif("href" in elm):
            href = elm.split(">")
            data.append(href[1].replace("</a", ""))

    for i in range(len(data) - 14):
        del data[-1]
    df.loc[len(df.index)] = data

In [208]:
#Part 1, step 4
df.replace("????", "NaN", inplace = True)
df.replace("---", "NaN", inplace = True)
df.replace("----", "NaN", inplace = True)
df.replace("-----", "NaN", inplace = True)
df.replace("------", "NaN", inplace = True)
df.replace("--/--", "NaN", inplace = True)
df.replace("--:--", "NaN", inplace = True)
df.replace("LASCO DATA GAP", "NaN", inplace = True)

is_halo = []
width_lower_bound = []

for index, row in df.iterrows():
    if(df.at[index, 'cme_angle'] == 'Halo'):
        is_halo.append(True)
        df.at[index, 'cme_angle'] = 'NA'
    else:
        is_halo.append(False)
    
    if(not df.at[index, 'cme_width'].isnumeric() and not df.at[index, 'cme_width'] == 'NaN'):
        width_lower_bound.append(True)
        df.at[index, 'cme_width'] = (df.at[index, 'cme_width'].replace("&gt;", ""))
        df.at[index, 'cme_width'] = (df.at[index, 'cme_width'].replace("h", ""))
    else:
        width_lower_bound.append(False)
    
df = df.assign(is_halo=is_halo)
df = df.assign(width_lower_bound=width_lower_bound)

In [209]:
for index, row in df.iterrows():
    start_date = df.at[index, "start_date"]
    start_time = df.at[index, "start_time"]
    end_date = df.at[index, "end_date"]
    end_time = df.at[index, "end_time"]
    cme_date = df.at[index, "cme_date"]
    cme_time = df.at[index, "cme_time"]
    start_flag = 0
    end_flag = 0
    cme_flag = 0
    
    
    if(start_time == '24:00'):
        start_time = '00:00'
        start_flag = 1
    if(end_time == '24:00'):
        end_time = '00:00'
        end_flag = 1
    if(cme_time == '24:00'):
        cme_time = '00:00'
        cme_flag = 1
    
    if(start_date != 'NaN' and start_time != 'NaN'):
        start_datetime = datetime.combine(datetime.strptime(start_date, '%Y/%m/%d'), datetime.strptime(start_time, '%H:%M').time())
    if(end_date != 'NaN' and end_time != 'NaN'):
        end_datetime = datetime.combine(datetime.strptime(start_date[:5] + end_date, '%Y/%m/%d'), datetime.strptime(end_time, '%H:%M').time())
    if(cme_date != 'NaN' and cme_time != 'NaN'):
        cme_datetime = datetime.combine(datetime.strptime(start_date[:5] + cme_date, '%Y/%m/%d'), datetime.strptime(cme_time, '%H:%M').time())
    
    if(start_flag == 1):
        start_datetime += timedelta(days = 1)
        start_flag = 0
        
    if(end_flag == 1):
        end_datetime += timedelta(days = 1)
        end_flag = 0
    
    if(cme_flag == 1):
        cme_datetime += timedelta(days = 1)
        cme_flag = 0
    
    df.at[index, "start_date"] = start_datetime
    df.at[index, "end_date"] = end_datetime
    df.at[index, "cme_date"] = cme_datetime
    
df.drop('start_time', axis = 1, inplace = True)
df.drop('end_time', axis = 1, inplace = True)
df.drop('cme_time', axis = 1, inplace = True)

df.rename(columns={"start_date": "start_datetime", "end_date": "end_datetime", "cme_date": "cme_datetime", "flare_classification": "importance", "cme_angle": "cpa", "cme_width":"width", "cme_speed": "speed"}, inplace=True)

In [ ]:
#Part 2, question 1